<script src="assets/js/demo.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<div class="col-md-12">
    <div class="card ">
        <div class="header">
            <h4 class="title">Consultores</h4>
            <p class="category">Lista de consultores</p>
        </div>
        <div class="content">
            <div class="table-full-width">
                <table class="table" >
                    <tbody>
                        <tr ng-repeat="consultant in homeCtrl.consultants">
                            <td>
                                <label class="" id="check-{{$index}}">
                                    <input type="checkbox" name="consult{{$index}}" value="{{consultant.co_usuario}}" data-toggle=""
                                        ng-checked="selection.indexOf(consultant.co_usuario) > -1"
                                        ng-click="homeCtrl.toggleSelection(consultant.co_usuario)">
                                </label>
                            </td>
                            <td>Nombre: {{consultant.no_usuario}}</td>
                            <td>Fecha Ingreso: {{consultant.dt_admissao_empresa | amDateFormat:'YYYY/MM/DD'}}</td>
                            <td>Teléfono: {{consultant.nu_telefone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
                <button type="submit" class="btn btn-info btn-sm btn-fill pull-right" ng-click="homeCtrl.showRelatorio()">Relatório</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Gráfico de ganancias </h4>
                <p class="category"></p>
            </div>
            <div class="content">
                <fusioncharts width="400" height="400" type="pie3d" datasource="{{homeCtrl.myDataSource}}"></fusioncharts>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">2014 Sales</h4>
                <p class="category">All products including Taxes</p>
            </div>
            <div class="content">
                <div id="chartActivity" class="ct-chart"></div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Tesla Model S
                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-check"></i> Data information certified
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>