<script src="assets/js/demo.js"></script>
<!--  Checkbox, Radio & Switch Plugins -->

<div class="row" ng-cloak>
    <div class="col-md-12">
        <div class="card ">
            <div class="header">
                {{}}
                <h4 class="title">Consultores</h4>
                <p class="category">Rango de fechas</p>
                <div>
                    <div class=" date-range pull-left">
                        Desde: <input id="toDatepicker" 
                        kendo-date-picker ng-model="homeCtrl.dateRange.fromDate.string"
                        k-max = "homeCtrl.maxDate"
                        k-rebind="homeCtrl.maxDate" 
                        k-ng-model="homeCtrl.dateRange.fromDate.object"
                        k-on-change="homeCtrl.fromDateChanged()"
                        k-format="'MMMM yyyy'"
                        k-options="homeCtrl.dateRange.config"/>
                    </div>
                    <div class="date-range pull-left">
                        Hasta: <input id="toDatepicker" 
                        kendo-date-picker ng-model="homeCtrl.dateRange.toDate.string"
                        k-ng-model="homeCtrl.dateRange.toDate.object"
                        k-on-change="homeCtrl.toDateChanged()"
                        k-format="'MMMM yyyy'"
                        k-options="homeCtrl.dateRange.config"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content table-responsive table-full-width">
                <div id="listConsultants" kendo-grid="listConsultants" options="lng" k-rebind="lng" 
                    k-data-source="homeCtrl.consultantsGridOptions.dataSource"
                    k-sortable="true" 
                    k-filterable="true" 
                    k-pageable="homeCtrl.consultantsGridOptions.pageable" 
                    k-columns="homeCtrl.consultantsGridOptions.columns">
                </div>
                <div class="footer">
                    <hr>
                    <div class="stats">
                        <a href="#" ng-click="homeCtrl.activate()"><i class="fa fa-history"></i></a> Updated 3 minutes ago
                    </div>
                    <div class="pull-right actions-consultants">
                        <button type="submit" class="btn btn-info btn-sm btn-fill pull-right" ng-click="homeCtrl.showEarnings()">Grafico ganancias</button>
                        <a href="#relatorio" class="btn btn-info btn-sm btn-fill pull-right" ng-click="homeCtrl.getRelation()">Relatório</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" id="relatorio" ng-cloak ng-show="homeCtrl.showRelationGrid">
    <div class="col-md-12">
        <div class="card ">
            <div class="header">
                <h4 class="title">Relatório</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <div id="listNotification" kendo-grid="listNotification" options="lng" k-rebind="lng" 
                    k-data-source="homeCtrl.relationsOptions.relations"
                    k-sortable="true" 
                    k-filterable="true" 
                    k-pageable="homeCtrl.relationsOptions.pageable" 
                    k-columns="homeCtrl.relationsOptions.columns">
                    <div k-detail-template>
                        <kendo-tabstrip>
                            <ul>
                                <li class="k-state-active">Detalle</li>
                            </ul>
                            <div id="listRelation" 
                                kendo-grid="listRelation" 
                                kendo-grid k-data-source="dataItem.relations" 
                                k-sortable="true" 
                                k-pageable="homeCtrl.insideGridOptions.pageable"
                                k-columns="homeCtrl.insideGridOptions.columns">
                            </div>
                        </kendo-tabstrip>
                    </div>
                </div>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-check"></i> Data information certified
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>